.logotext {
    font-size: 80pt;
    text-align: left;
    color: #4bcaff;
    font-family: "Myriad Pro";

}
.Logotext {
    font-size: 80pt;
    text-align: left;
    color: black;
    font-family: "Myriad Pro";

}
.conteiner {
    margin-top: 61px;
    margin-left: 101px;
    width: 1280px;



}
.link {
    text-decoration: none;

}
.nav-bar {
    border-top: 15px;
    margin-top: 41px;
    margin-left: 101px;
    background-color: #35444f;
    width: 1280px;
    margin-right: auto;
    height: 82px;
    text-align: center;

}

.nav-bar-menu {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 21px;
    font-family: Helvetica;


}
.nav-bar-link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 10px;
}

.left-block {
    float: left;
    margin-top: 51px;
    width: 344px;
    margin-left: 60px;

}
.left-block-menu {
    margin-left: 42px;
    display: inline-block;
    border: 1px solid black;
    padding-right: 90px


}

.left-block-text {
    font-size: 20pt;
    color: #35444f;
    text-decoration: none;
    text-align: left;
}

.left-block-menu li {
    display: inline-block;
    position: relative;
    margin-bottom: 17px;
    margin-top: 30px;
    margin-left: 42px;
    font-family: Helvetica;


}
.right-block {
    width: 885px;
    display: inline-block;
    height: 529px;
    float: right;
    margin-top: 51px;
    margin-left: 0px;
    border: 1px solid black;
    margin-right: 40px;
}

.picture {
    margin-left: 297px;
    margin-bottom: 79px;
    margin-top: 75px;
    margin-right: 286px;
}
.right-block-text1 {
    font-size: 18pt;
    font-family: Helvetica;
    margin-left: 30px;
    margin-top: 51px;

}

.right-block-text2 {
    font-size: 18pt;
    font-family: Helvetica;
    margin-left: 30px;
    margin-top: 30px;
}
.footer-nav-bar {
    height: 69px;
    background-color: #b4b7ba;
    display: inline-block;
    margin-top: 551px;
    margin-left: 100px;
    clear: both;
    margin-bottom: 31px;


}
.footer-nav-bar-link{
    text-decoration: none;
    font-size: 17pt;
    font-family: Helvetica;
    margin-left: 44px;
    color: #0c1927;


}
.footer-nav-bar-menu {
    text-align: left;
    margin-top: 22px;

}
.footer-nav-bar-link1 {
    text-align: right;
    text-decoration: none;
    font-size: 15pt;
    color: #0c1927;
    margin-left: 265px;
    margin-right: 30px;
    font-family: Helvetica;
}
.footer-nav-bar-link2 {
    font-size: 17pt;
    font-family: Helvetica;
    margin-left: 44px;
    color: #779eb1;
    text-decoration: underline;

}