body {
    background-image: url("img/rana-sawalha.png");
    background-size: cover;
}

.header{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    padding: 19px;
}

.header-slogan{
    float: left;
    clear: both;
}


.header-left-text {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(255, 255, 255, 255);
    padding-left: 81px;
}

.header-left-text:hover{
    color: #3cb878;
}

.header-right-side{
    float: right;
}

.header-right-text{
    font-size: 14px;
    font-family: Verdana;
    color: rgba(255, 255, 255, 255);
    padding-right: 75px;
}

.log{
    color: #3cb878;
}

.log:hover{
    text-decoration: underline;
}

.sprites-block{
    display: inline-block;
    padding-right: 50px;

}

.header-right{
    float: right;
}

.sprite{
    background: url("img/spritesheet.png")no-repeat;
    width: 175px;
    height: 56px;
    display: inline-block;
    padding-right: 28px;
}

.calender{
    width: 19px;
    height: 19px;
    background-position: -18px -18px;
}

.forum {
    width: 28px;
    height: 20px;
    background-position: -73px -18px;
}
.journey{
    width: 20px;
    height: 20px;
    background-position: -137px -18px;
}


.sprite:hover{
    background: url("img/spritesheet-2.png")no-repeat;
    display: inline-block;
    width: 175px;
    height: 56px;
    padding-right: 28px;

}

.calender:hover{
    width: 19px;
    height: 19px;
    background-position: -18px -18px;
}

.forum:hover{
    width: 28px;
    height: 20px;
    background-position: -73px -18px;

}

.journey:hover{
    width: 20px;
    height: 20px;
    background-position: -137px -18px;
}



.form-header{
    width: 443px;
    background: #ffffff;
    border-radius: 15px;
    margin: 65px auto;

}

.square{
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: relative;
    left: -60px;
    right: 0;
    top: 20px;
    bottom: auto;
    display: inline-block;

}



.form-text{
    display: inline-block;
    padding: 20px 60px;
}


.text{
    font-size: 20px;
    font-family: Verdana,Courier;
float: left;
}
.login-link{
    color: #3cb878;
    font-size: 14px;
    font-family: Verdana, Courier;
    float: right;
    padding: 4px;
}
.login-link:hover{
    text-decoration: underline;
}

.button-F{
    width: 157px;
    height: 46px;
    background-color: #264b96;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
}


i {
    font-size: 20px;
    color: #fbfbfb;
    padding: 13px;
    }

.vl{
   border-left: 1px solid rgba(0,0,0,0.5);
    height: 28px;
    display: inline-block;
    vertical-align: sub;
}


.facebook-text{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-family: Verdana, Courier;
    padding-left: 17px;
}

.button-G{
    width: 157px;
    height: 46px;
    background-color: #c3412c;
    border-radius: 4px;
    float: right;
}



.line2{
    display: inline-block;
    border-left: 1px;
    border-color: gray;

}

.google-text{
    display: inline-block;
    color: #ffffff;
    font-family: Verdana, Courier;
    font-size: 16px;
    padding-left: 17px;
}

.btns{
    display: inline-block;
    margin-top: 15px;
}

.underline{
    display: inline-block;
    margin-top: 10px;
}

.left-line{
    width: 135px;
    border-top: 1px solid gray;
    display: inline-block;

}

.line-words{
    display: inline-block;
    font-size: 14px;
    color:  #848484;
    padding: 18px;
}

.right-line{
    width: 135px;
    border-top: 1px solid gray;
    display: inline-block;
}

input{
    width: 322px;
    height: 46px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana, Courier;
    margin-top: 9px;
    border: 1px solid #eaeaea;
}

input:focus{
    box-shadow: 0 0 5px 5px rgba(122, 122, 122, 0.5);
    border: none;
}

.tnc{
    color: #3cb878;
}

.agro{
    padding-left: 10px;
}

.checkbox-text{
    padding-top: 19px;
    padding-bottom: 20px;
}

.checkbox-1{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
}

.tnc:hover{
    text-decoration: underline;
}


.cnfrm-btn{
    background-color: #3cb878;
    font-size: 14px;
    font-family: Verdana, Courier;
    text-align: center;
    color: #ffffff;

}



.clearfix::after {
    content: "";
    display: block;
    clear: both;
}