.container {
    width: 1063px;
    margin: 0 auto;
}

.header{
    display: inline-block;
    width: 1063px;
    padding: 48px 0;
}
body {
    background-image: url("img/background.png");
    background-size: cover;}

.logo-hover {
    background: url("img/logo.png");
    width: 46px;
    height: 44px;
    display: inline-block;
}

.logo-hover:hover{
    background: url("img/logo-hover.png");
    width: 46px;
    height: 44px;
    display: inline-block;
}



.holidays:hover{
    color: #f26522;
}

.castle-logo {
    float: left;
}



.border-gradient{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    background-image: linear-gradient(to bottom, #160912 0%,#8c8c8c 0%);
    border-image: linear-gradient(to bottom, #000606 0%, #00010a 100%);
    border-image-source: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-bottom: none;
}


.view-details-hover{
    position: absolute;
    top:287px;
    width: 308px;
    height: 63px;
    opacity: 0;
}


.text:hover{
    color: #f26522;
}

.form {
    font-size: 10px;
    color: #ffffff;
    text-align: left;


}

.hover-text{
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
   padding: 11px;
}
.hover-view {
    font-size: 14px;
    font-family: Verdana;
    color: #ffffff;
    display: inline-block;
    padding-left: 126px;


}

.hover-view::after{
    content: url("img/Arrow.png");
    padding-left: 15px;
}

.view-details-hover:hover{
    width: 312px;
    height: 63px;
    position: absolute;
    background-color: #f26522;
    top: 293px;
    overflow: hidden;
    transition-duration: 0.4s;
    opacity: 1;
}

.castle-text-block{
    display: inline-block;

}

.castle-text {
    font-size: 27px;
    color: #ffffff;
    font-family: "Verdana";
    font-weight: bold;
    padding-left: 10px;
    display: inline-block;

}

.castle-text:hover {
    color: #f26522;
}


a {
    text-decoration: none;

}


.holidays {
    font-size: 17px;
    color: #ffffff;
    font-family: "Verdana";
    font-weight: bold;

}

.right-side {
    float: right;
}

.right-text {
    color:rgba(255, 255, 255, 255);
    font-size: 18px;
    font-family: "Verdana";
    text-align: right;

}

.link-float {
    float: left;
}
.link-float-2{
    float: left;
    clear: both;
}

.link-float-3 {
    display: inline-block;
}

.link-float-4{
    float: left;

}

.link-float-5{
    display: inline-block;
}
.link-float-6 {
    display: inline-block;
}

.text {
    font-size: 18px;
    font-family: "Verdana Courier";
    color: #ffffff;
    padding-top: 20px;
    text-align: center;

}

.second-picture-block {
    padding-top: 58px;

}
.third-picture-block {
    padding-left: 63px;
}



.four-piture-block {
    padding-top: 55px;
    padding-left: 60px;
}

.five-picture-block {
    padding-left: 60px;

}

.six-picture-block {
    padding-left: 69px;
    padding-top: 58px
}

.footer {
    display: inline-block;
    width: 1063px;
    padding:61px 0;
}

.footer-text {
    text-align: center;
    color: #ffffff;
    font-family: "Verdana Courier";
    font-size: 18px;
}





.clearfix::after {
    content: '';
    display: block; 
    clear: both;

}