
.navbar {
    text-align: center;
    font-family: sans-serif;
    margin-top: 32px;

}
.nav-bar-menu {
    color: #16a085;
    margin-right: 60px;
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: none;
    margin-left: 60px;



}

.conteiner {
    margin-top: 32px;
    margin-right: 0;
    width: 1409px;
    background-color: #f5f6f7;


}

.picture {
width: 1409px;
    margin: 0 auto;


}
.bottom-text {
    background-color: #f5f6f7;
    padding-top: 1px;
}
.text {
    text-align: center;
    font-family: sans-serif;
    font-size: 22pt;
    color: #373737;
}

.text1 {
text-align: center;
font-size: 16pt;
font-family: sans-serif;
    margin-left: 113px;
    margin-right: 108px;

}


.button {
    top: auto;
    left: auto;
    padding-bottom: 94px;
}
.butt {
    border: 3px solid #16a085;
    font-size: 12pt;
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 250px;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
    line-height: 60px;
    margin-left: 585px;
    background-color: #16a085;
    margin-top: 41px;

}
.footer {
    text-align: right;
    font-size: 16pt;
    margin-top: 300px;
    margin-right: 104px;
}