
.conteiner {
    width: 1280px;
    margin: 0 auto;
}


.logotext {
    font-size: 80pt;
    text-align: left;
    color: #4bcaff;
    font-family: "Myriad Pro";

}
.link {
    text-decoration: none;
    font-size: 80pt;
    text-align: left;
    color: #333333;
    font-family: "Myriad Pro";


}
.nav-bar {
    border-top: 15px;
    margin-top: 41px;
    background-color: #35444f;
    text-align: center;

}

.nav-bar-menu {
    display: inline-block;
    font-size: 20px;
    font-family: Helvetica;
    padding: 25px;
    font-weight: 400;



}
.nav-bar-link {
    text-decoration: none;
    color: #ffffff;
    margin: 60px;

}

.left-block-menu {
    display: inline-block;
    border: 1px solid black;
    float: left;
    margin-top: 51px;



}

.left-block-text {
    font-size: 22px;
    color: #495863;
    text-decoration: none;
    text-align: left;
}

.left-block-menu li {
    font-family: Helvetica;
    padding: 29px;
    padding-right: 120px;
}

.left-block-text1 {
    padding-left: 10px;
    text-decoration: none;
    padding-left: 22px;
    font-size: 22px;
}
.Why-Ra {
    color: #333333;
    font-weight: bold;
    font-family: Helvetica;


}
.right-block {
    width: 885px;
    display: inline-block;
    height: 529px;
    margin-top: 51px;
    border: 1px solid black;
    margin-left: 51px;

}

.picture {
    margin-left: 279px;
    margin-bottom: 79px;
    margin-top: 75px;
    margin-right: 286px;
}
.right-block-text1 {
    font-size: 18pt;
    font-family: Helvetica;
    margin-left: 30px;
    margin-top: 51px;

}

.right-block-text2 {
    font-size: 18pt;
    font-family: Helvetica;
    margin-left: 30px;
    margin-top: 30px;
}
.footer-nav-bar {
    background-color: #b4b7ba;
    margin-bottom: 31px;
    margin-top: 51px;
    padding: 25px;


}
.footer-nav-bar-link{
    text-decoration: none;
    font-size: 17pt;
    font-family: Helvetica;
    color: #0c1927;
    padding: 8px;



}
.footer-nav-bar-menu {
    text-align: left;
    display: inline-block;
    font-weight: 400;

}
.footer-copyright {
    text-decoration: none;
    font-size: 15pt;
    color: #0c1927;
    margin-right: 30px;
    font-family: Helvetica;
    float: right;
    font-weight: 400;
}
.footer-nav-bar-link1 {
    font-size: 17pt;
    font-family: Helvetica;
    color: #779eb1;
    text-decoration: underline;


}

.clearfix::before {
    content: "";
    display: block;
    clear: both;
}
