.holder{
    width: 1200px;
    margin: 0 auto;
    border-color: #3a4965;
}


table{
    width: 1200px;
    border: 10px solid #3a4965;
}


td {
    border: 1px solid gray;
    border-collapse: collapse;
}

tr {
    text-align: center;
}

.bgc-table{
    background-color: #f2f2f2;
}

.bgc-table-2{
    background-color: #e3e3e3;
}


.first{
    font-size: 18px;
    font-family: 'Arimo-bold', sans-serif;
    color: #484848;
    vertical-align: middle;
}

.price{
    font-size: 60px;
    color: #484848;
    padding-left: 25px;
}



.little{
    font-size: 24px;
    vertical-align: text-top;
    font-weight: bold;
}

.mth{
    font-size: 18px;
    font-family: 'Arimo', 'Courier', sans-serif;
    position: relative;
    right: 31px;
}

.wdh{
    padding: 20px;
}


.second{
    font-size: 30px;
    font-family: 'Arimo-bold', sans-serif;
}

.table-body{
    font-size: 16px;
    font-family: 'Arimo', Courier, sans-serif;
    color: #737373;
    text-align: center;
}


.bg-green{
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Arimo-bold', sans-serif;
    padding: 17px;
}

.bg-red{
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Arimo-bold', sans-serif ;
}

.bg-blue{
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Arimo-bold', sans-serif;
}

.btn {
    width: 192px;
    height: 49px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Arimo-bold', sans-serif;
    border-radius: 8px;
    cursor: pointer;

}

.btn:hover{
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

}

.bg-color{
    background-color: #484848;
    vertical-align: middle;
}

.bg-color-2{
    background-color: #89c331;
}

.btn-bg-3{
    background-color: #f04a56;
}

.btn-bg-4{
    background-color: #20807c;
}

.footer-padd{
    padding: 25px;
}